<table class="table table-bordered table-striped">
<tr>
<th colspan="2">Your code</th>
<th>The issue</th>
<th>What now?</th>
</tr>

<% 
misses.forEach(function(miss){ 
  var issue = "";

  if (miss.nullFlavor) {issue = "nullFlavor='"+miss.nullFlavor+"' was used"}
  else if (!miss.normalized) {issue = "Code not found in UMLS 2012AB"}
  else if (!miss.normalized.active) {issue = "Obsolete"}
  else {issue = "Not in value set"} 
%>
<tr>
<td><code>
<% if (miss.codeSystemName && miss.code) { %>
<%= miss.codeSystemName %>:<%= miss.code %>
<%= miss.nullFlavor ? " nullFlavor='"+miss.nullFlavor+"'" : "" %>
<% } else { %>
<%= miss.node.toString() %>
<% } %>
</code></td>
<% if (miss.displayName) { %>
<td>"<%= miss.displayName %>"</td>
<% } else { %>
<td><nobr>(No title)</nobr></td>
<% } %>
<td><%= issue %></td>
<td> <% if (miss.normalized && !miss.nullFlavor){%>
  See <a target="_blank" href="<%= miss.normalized._id %>"><%= miss.normalized._id %></a>
<%} else {%>
  Check mapping
<%}%>
</tr>

<% 
  });  
%>
</table>
