<table class="table table-bordered table-striped">
<tr>
<th colspan="2">Your code</th>
<th>The issue</th>
<th>What now?</th>
</tr>

<% 
misses.forEach(function(miss){ 
  var issue = "";
  if (!miss.normalized) {issue = "Code not found in UMLS 2012AB"}
  else if (!miss.normalized.active) {issue = "Obsolete"}
  else {issue = "Not in value set"} 
%>
<tr>
<td><code><%= miss.codeSystemName %>:<%= miss.code %></code></td>
<td>"<%= miss.displayName %>"</td>
<td><%= issue %></td>
<td> <% if (miss.normalized){%>
  See <a target="_blank" href="<%= miss.normalized._id %>"><%= miss.normalized._id %></a>
<%} else {%>
  Check mapping
<%}%>
</tr>

<% 
  });  
%>
</table>
